<h1><%= facade.house_member_count %> Members</h1>

<section class='member-results'>
  <% facade.house_members.each do |member| %>
    <div class='member'>
      <p>Name: <%= member.name %>
      <p>ID: <%= member.id %></p>
    <% end %>
  </div>
</section>
